<div *ngIf="isAdmin" class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Добавить участника</h1>
    </div>

    <form>
        <h4>Личные данные</h4>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Фамилия">
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Имя">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Отчество">
            </div>
            <div class="col-sm-6">
                <input type="email" class="form-control form-control-user" id="exampleLastName" placeholder="Почта">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <select class="form-control form-control-user" id="addpost-select">
                    <option value="" disabled selected>Факультет</option>
                    <option value="stud">лечебный факультет</option>
                    <option value="sience">фарм. факультет</option>
                    <option value="events">ФПИГ</option>
                    <option value="sport">стом. факультет</option>
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control form-control-user" id="addpost-select">
                    <option value="" disabled selected>Курс</option>
                    <option value="stud">1 курс</option>
                    <option value="sience">2 курс</option>
                    <option value="events">3 курс</option>
                    <option value="sport">4 курс</option>
                    <option value="home">5 курс</option>
                    <option value="home">6 курс</option>
                </select>
            </div>
            <div class="col-sm-3">
                <input type="number" class="form-control form-control-user" id="exampleLastName" placeholder="Номер группы">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Номер студенческого">
            </div>
        </div>
        <h4>Роль</h4>
        <div class="form-group row">
            <div class="col-sm-3">
                <select class="form-control form-control-user" id="addpost-select">
                    <option value="" disabled selected>Организация</option>
                    <option value="stud">БРСМ</option>
                    <option value="sience">Проф. ком.</option>
                    <option value="sience">Студ. клуб</option>
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control form-control-user" id="addpost-select">
                    <option value="" disabled selected>Полномочия</option>
                    <option value="stud">Администратор</option>
                    <option value="sience">Модератор</option>
                </select>
            </div>
        </div>

        <div class="form-group row d-flex justify-content-center">
            <button class="btn mx-2 btn-primary btn-user btn-block my-3 w-25 text-uppercase">
                Добавить
            </button>
        </div>

    </form>

</div>