#login-img img {
    width: 100%;
}

#login-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box {
    width: 90%;
}

#login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}